{
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "inline-react-svg", {
        "svgo": {
          "plugins": [{
            "cleanupIDs": false,
            "removeDoctype": true,
            "removeComments": true,
            "removeMetadata": true,
            "removeDesc": true,
            "removeUselessDefs": true,
            "removeEmptyAttrs": true,
            "removeHiddenElems": true,
            "removeEmptyText": true,
            "removeEmptyContainers": true,
            "convertColors": true
          }]
        }
      }
    ],
    [
      "transform-assets-import-to-string",
      {
        "extensions": [".jpg", ".png", ".mp3"],
        "baseDir": "static"
      }
    ]
  ],
  "presets": [
    ["env", { "module": false }], "stage-0", "react"
  ],
  "comments": false
}