{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "components": "./src/components",
          "static": "./static",
          "helpers": "./src/helpers"
        }
      }
    ],
    [
      "inline-react-svg", {
        "svgo": {
          "plugins": [
            {
              "cleanupIDs": false
            }
          ]
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "transform-assets-import-to-string", 
      {
        "extensions": [".jpg", ".png"],
        "baseDir": "static"
      }
    ]
  ],
  "presets": ["env", "stage-0", "react"]
}
