{
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "inline-react-svg", {
        "svgo": {
          "plugins": [{
            "cleanupIDs": false,
            "removeScriptElement": true
          }]
        }
      }
    ],
    [
      "transform-assets-import-to-string",
      {
        "extensions": [".jpg", ".png", ".mp3", ".mp4", ".webm", ".pdf"],
        "baseDir": "static"
      }
    ]
  ],
  "presets": [
    ["env", { "module": false }], "stage-0", "react"
  ],
  "comments": false
}
