{
  "env": {
    "server-production": {
      "plugins": [
        [
          "transform-assets-import-to-string", 
          {
            "extensions": [".jpg", ".png", ".mp3"],
            "baseDir": "/static",
            "baseUri": "https://storage.googleapis.com/twreporter-infographics/high-risk-youth-life-is-a-struggle"
          }
        ]
      ]
    },
    "server-developement": {
      "plugins": [
        [
          "transform-assets-import-to-string", 
          {
            "extensions": [".jpg", ".png", ".mp3"],
            "baseDir": "static"
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "inline-react-svg", {
        "svgo": {
          "plugins": [
            {
              "cleanupIDs": false
            }
          ]
        }
      }
    ]
  ],
  "presets": [["env", { "module": false }], "stage-0", "react"],
  "comments": false
}
